<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{route}}</title>  
    <link rel="Stylesheet" type='text/css' href="/static/styles/style.css"/>
</head>
<body>
    <div>
        <h1 style='text-align: center;'>Build-a-Blog</h1> 
    </div>
    <nav class='navbar'>
            {% for link in nav %} 
            <a href="{{link.link}}" {% if link.active %} class='active {{link.l_or_r}}' {% else %} class='{{link.l_or_r}}' {% endif %} id='{{link.text}}' >{{link.text}}</a>
            {% endfor %}
    </nav>
    <hr>
    <div class='content'>
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>