<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{route}}</title>
    <link rel="stylesheet" type='text/css' href="/static/styles/style.css"/>
    <script>
    var links = document.querySelectorAll('a[href="'+document.URL+'"]');
    </script>
</head>
<body>
    <div>
        <h1 style='text-align: center;'>Build-a-Blog</h1>
    </div>
    <nav>
        <a {{class}} href='/blog'><span>Blog Home</span></a>
        <a {{class}} href='/new-blog'><span>New Blog</span></a>
        <a class='floatright' href="/logout" ><span>Logout</span></a>
    </nav>
    <hr>

    {% block content %}
    {% endblock %}
    
</body>
</html>