{% extends 'base.html' %}
{% block content %}

<form action = '/login' method='post'>
    <label class='error'>{{error}}</label>
    <table>
        <tr>
            <td><label for="user_name">User Name</label></td>
            <td><input type='text' name='user_name' value='{{user_name}}'/></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type='password' name='password' value='{{password}}'/></td>
        </tr>
        <tr>
            <td><input type='submit' value='Login'/></td>
        </tr>
    </table>
</form>
<div class='login'><a href="/register" >Not Registered?</a></div>

{% endblock %}