{% extends 'base.html' %}

{% block content %}

 <p class='error'>{{error}}</p>
 <form action='/new-blog' method="post">
     <div>
        <label for='title'style='display:block;'>Blog TItle</label>
        <input type ='text' style='margin-top:20px; margin-bottom: 20px;' name='title'/>
    </div>
    <div>
        <label for='body' style="display:block;">Blog Body</label>
        <textarea rows='5' style='margin-top:20px; margin-bottom: 20px;' name='body'></textarea>
    </div>
    <div>
        <input type='submit' value='Post Blog'/>
    </div> 
</form>

{% endblock %}