body{
    background-color:lightgoldenrodyellow;
    color: blue;
}
body .error{
    color: red;
}
ul a{
    color: blue;
    text-decoration: none;
}
ul a div hr{    
    color: purple;
    margin-right: 50px;
}
#new_blog_button{
    margin-top: 20px;
}
.navbar{
    display: inline;
    text-decoration: none;
}
.navbar ul{
    display:inline-block;
}
.navbar ul li{
    display: inline;
    list-style-type: none;
}
.navbar a.active{
    background-color: lightblue;
}
.navbar a#Logout{
    float:right;
    margin-right: 20px;
    margin-left: auto;
}

